<div class="box">
  <nz-radio-group [(ngModel)]="size">
    <label nz-radio-button nzValue="large">{{ 'SOANAME.LAR' | translate }}</label>
    <label nz-radio-button nzValue="default">{{ 'SOANAME.DEF' | translate }}</label>
    <label nz-radio-button nzValue="small">{{ 'SOANAME.SML' | translate }}</label>
  </nz-radio-group>
  <p class="inner">
    <nz-date-picker [nzSize]="size"></nz-date-picker>

    <nz-month-picker [nzSize]="size"></nz-month-picker>

    <nz-range-picker [nzSize]="size"></nz-range-picker>

    <nz-week-picker [nzSize]="size"></nz-week-picker>
  </p>

  <p>
    <nz-pagination [nzPageIndex]="3" [nzTotal]="500" nzShowSizeChanger [nzPageSize]="10"></nz-pagination>
  </p>
</div>